.gal{
    display: flex;
    justify-content: center;
    text-decoration: overline;
    padding: 10px;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 1rem;
    background-color: rgb(68, 40, 21);
}
h2{
    background-color: rgb(56, 53, 53);
    color: white;
    margin: 0;
}
.gallery-item{
    position: relative;
}
.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:nth-child(4){
grid-column-start: span 2;
}
.gallery-item:nth-child(5){
    grid-row-start: span 2;
    }

 .gallery-item:nth-child(9){
     grid-column-start: span 2;
}