@import "index";
@import "galeria";
@import "project";
@import "contact";
@import "about";

/* Variables*/
$blancoletra:white;
$beigeEspecial: antiquewhite;
/* Estilos generales*/
body{
    font-family: 'Quicksand', sans-serif;
    background-color:rgb(173, 152, 116);
    max-width: 100%;
}

.bg-body-tertiary{
    padding: 0px;
}
h1{
    padding: 190px;
    font-style: italic;
}
/* ENCABEZADO NESTING*/
header{
    .container-fluid{
        background: url(../img/Background.jpg)no-repeat;
        background-position: center;
        background-size: cover;
        span{
            color:  rgb(185, 139, 93);
        }
        .navbar-collapse{
            justify-content: flex-end;
            margin: 24px;    
        }
        .navbar-nav a:hover{
            color: rgb(185, 139, 93);
                
        }

    }
        
}
    

/* INDEX INTRO */

@media(max-width:768px){
    #intro{
        width: 90% !important;
    }
}

/* SOBRE AJNA*/

@media(min-width:360px){
    .sobre{
        width: 48%;
    }
}
@media(min-width:768px){
    .sobre{
        width: 100%;
    }
   }
    
   /* GALERIA */
   
@media (min-width:768px){
    .gallery-container{
        grid-template-columns: repeat(4,1fr);
    }
    .gallery-item:nth-child(3){
        grid-column-start: span 2;
   }
   .gallery-item:nth-child(4){
    grid-column-start: span 3;
    }
    .gallery-item:nth-child(5){
        grid-row-start: span 3;
        }
    
     .gallery-item:nth-child(9){
         grid-column-start: span 3;
    }
}
    
@media (min-width:1024px) {
    .gallery-container{
        grid-template-columns: repeat(5,1fr);
        margin: auto;
    }
    .gallery-item:nth-child(1){
        grid-column-start: span 2;
        grid-row-start: span 2;
   }
   .gallery-item:nth-child(4){
    grid-column-start: span 3;
    grid-row-start: span 3;
    }
    .gallery-item:nth-child(2){
        grid-row-start: span 2;
   }
   .gallery-item:nth-child(3){
    grid-row-start: span 2;
}
.gallery-item:nth-child(8){
    grid-row-start: span 2;
}
.gallery-item:nth-child(9){
    grid-column-start: span 3;
    grid-row-start: span 2;
}
.gallery-item:nth-child(6){
    grid-row-start: span 2;
}
.gallery-item:nth-child(7){
    grid-row-start: span 3;
}
/* CONTACTO */

@media (min-width:210px){
    .form-contact{
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 1rem;
        text-decoration: overline;
        color: $beigeEspecial;
        font-size: x-large;
}
}

/* PIE PAGINA NESTING*/

footer{
    background-color: black;
    color:$blancoletra;
    font-size: 15px;
    padding-block: 90px;
    .bg-dark {
        --bs-bg-opacity: 22;
        background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    }
    ul{
        display:flex ;
        justify-content: space-evenly;
    }
    li{
        list-style: none;
    }
    .bi{
        color: $beigeEspecial;
        font-size: 2.3rem;
    }
}}