/* Aplico Mixin*/
.intro {
  background-color: rgb(203, 190, 168);
  margin-top: 0px;
  display: flex;
  padding: 3px 28px 34px 19px;
  color: beige;
}

.intro p {
  padding-left: 15px;
  text-align: center;
  padding: 80px 30px 20px;
  font-style: italic;
  font-size: 19px;
}

.carousel-inner {
  position: relative;
  width: 130%;
  align-content: center;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  right: 38%;
  bottom: 16.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.w-100 {
  width: 100% !important;
  height: 50%;
  padding: 0px;
}

.carousel-inner {
  position: relative;
  width: 100%;
  align-content: center;
  overflow: hidden;
}

h3 {
  text-align: center;
  float: left;
  margin: 22px 7px 48px 69px;
}

.carousel-caption {
  position: absolute;
  right: 14%;
  bottom: 16.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #857656;
  text-align: center;
  font-size: 24px;
}

.carousel-caption1 {
  position: absolute;
  right: 14%;
  bottom: 33.25rem;
  left: 12%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #857656;
  text-align: center;
}

.servicio-fila {
  width: 100% !important;
  text-align: center;
}

.fs-2 {
  font-size: 2rem !important;
}

.text-center {
  text-align: center !important;
  font-size: 13px;
  margin: 4rem;
}

.gal {
  display: flex;
  justify-content: center;
  text-decoration: overline;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 1rem;
  background-color: rgb(68, 40, 21);
}

h2 {
  background-color: rgb(56, 53, 53);
  color: white;
  margin: 0;
}

.gallery-item {
  position: relative;
}

.gallery-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-item:nth-child(4) {
  grid-column-start: span 2;
}

.gallery-item:nth-child(5) {
  grid-row-start: span 2;
}

.gallery-item:nth-child(9) {
  grid-column-start: span 2;
}

h5 {
  font-size: 1.25rem;
  display: contents;
}

.ajna-clases {
  padding: 3rem;
}

.form-contact {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  text-decoration: overline;
  color: antiquewhite;
  font-size: x-large;
}

.btn {
  margin-bottom: 1rem;
  padding: 1rem;
}

.contacto-container {
  background-color: rgb(152, 104, 57);
}

h1 {
  padding: 0px;
  font-style: italic;
}

.forma {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  color: white;
  text-align: center;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  padding: 2rem;
}

.ajna-sobre {
  padding: 1.5rem;
  font-style: italic;
  text-align: center;
  text-decoration-line: overline;
  text-decoration-color: rgb(151, 119, 75);
  font-size: 28px;
}

.col-lg-5 {
  padding: 1rem;
}

.sobre {
  background: black;
  box-sizing: border-box;
  float: left;
  margin: 1%;
  padding: 15px;
  max-width: 50%;
}

img {
  max-width: 100%;
}

.item.container {
  display: flex;
}

/* Variables*/
/* Estilos generales*/
body {
  font-family: "Quicksand", sans-serif;
  background-color: rgb(173, 152, 116);
  max-width: 100%;
}

.bg-body-tertiary {
  padding: 0px;
}

h1 {
  padding: 190px;
  font-style: italic;
}

/* ENCABEZADO NESTING*/
header .container-fluid {
  background: url(../img/Background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
header .container-fluid span {
  color: rgb(185, 139, 93);
}
header .container-fluid .navbar-collapse {
  justify-content: flex-end;
  margin: 24px;
}
header .container-fluid .navbar-nav a:hover {
  color: rgb(185, 139, 93);
}

/* INDEX INTRO */
@media (max-width: 768px) {
  #intro {
    width: 90% !important;
  }
}
/* SOBRE AJNA*/
@media (min-width: 360px) {
  .sobre {
    width: 48%;
  }
}
@media (min-width: 768px) {
  .sobre {
    width: 100%;
  }
}
/* GALERIA */
@media (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery-item:nth-child(3) {
    grid-column-start: span 2;
  }
  .gallery-item:nth-child(4) {
    grid-column-start: span 3;
  }
  .gallery-item:nth-child(5) {
    grid-row-start: span 3;
  }
  .gallery-item:nth-child(9) {
    grid-column-start: span 3;
  }
}
@media (min-width: 1024px) {
  .gallery-container {
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
  }
  .gallery-item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 3;
  }
  .gallery-item:nth-child(2) {
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(3) {
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(8) {
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(9) {
    grid-column-start: span 3;
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(6) {
    grid-row-start: span 2;
  }
  .gallery-item:nth-child(7) {
    grid-row-start: span 3;
  }
  /* CONTACTO */
  /* PIE PAGINA NESTING*/
}
@media (min-width: 1024px) and (min-width: 210px) {
  .form-contact {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    text-decoration: overline;
    color: antiquewhite;
    font-size: x-large;
  }
}
@media (min-width: 1024px) {
  footer {
    background-color: black;
    color: white;
    font-size: 15px;
    padding-block: 90px;
  }
  footer .bg-dark {
    --bs-bg-opacity: 22;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  }
  footer ul {
    display: flex;
    justify-content: space-evenly;
  }
  footer li {
    list-style: none;
  }
  footer .bi {
    color: antiquewhite;
    font-size: 2.3rem;
  }
}/*# sourceMappingURL=style.css.map */